@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030c;
    --fonte-principal:  'Inter', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
}

.principal {
    background-image: url(/assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0em 6em;
    text-align: center;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 2em 0em 3em 0em;
}

.container__botao {
    color: var(--branco-principal);
    text-decoration: none;
    border-radius: 5px;
    padding: 1em;
    background-color: var(--botao-azul);
    display: block;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.conteudo {
    align-items: center;
}

.secundario__imagem {
    width: 80%;
    margin-left: 3em;
}

.conteudo__titulo {
    font-size: 3rem;
    font-weight: 700;
}

.conteudo__descricao {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza-secundario);
    margin: 0.1em 0em;
    /*line-height: 150%;*/
}

.container__descricao {
    display: inline-block;
}

.descricao__texto {
    margin-bottom: 1em;
}

.botao__terciario {
    display: inline-block;
}

.secundario {
    margin: 0em 8em;
    align-items: center;
}

.dispositivos {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.dispositivos__titulo {
    text-align: center;
    font-size: 3rem;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}

.dispositivos__itens {
    gap: 1em;
}

.dispositivos__nomes {
    font-size: 2rem;
    margin: 1em 0em;
}

.rodape {
    text-align: center;
    flex-direction: column;
    margin: 5em 5em;
}

.rodape__logo {
    margin: 2em 0em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: var(--branco-principal);
    text-decoration: none;
    gap: 1em;
}

.lista__link__botao {
    color: var(--branco-principal);
    text-decoration: none;
}

.lista__link__botao:hover {
    color: var(--botao-azul);
}

.rodape__texto {
    font-size: 0.875rem;
    color: var(--cinza-secundario);
    margin: 1.5em 0em;
    line-height: 150%;
}

@media screen and (max-width: 768px) {
    .container {
        background-image: none;
        display: block;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .conteudo {
        flex-direction: column-reverse;
    }

    .conteudo__descricao {
        padding: 0em 1em;
    }

    .secundario {
        text-align: center; 
    }

    .container.secundario {
        margin-bottom: 6em;
        margin: auto;
    }

    .secundario__imagem {
        width: 50vw;    
        margin-left: 0;
    }

    .descricao__texto {
        margin: 1em 0em;
    }

    .dispositivos__lista {
        flex-direction: column;
    }

    .rodape {
        margin: 2rem;
    }

    .lista__link__botao {
        font-size: 0.8rem;
    }

    .rodape__texto {
        font-size: 0.6rem;
    }
}